
Binaries/Win64/*
!Binaries/Win64/*Server.exe*

# *.lib
# *.dll
# *.pdb
# *.target
# *.exp
# *.modules

DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Packaged*